[submodule "BLMapCheck/beatleader-analyzer"]
	path = BLMapCheck/beatleader-analyzer
	url = https://github.com/BeatLeader/beatleader-analyzer.git
[submodule "BLMapCheck/beatleader-parser"]
	path = BLMapCheck/beatleader-parser
	url = https://github.com/BeatLeader/beatleader-parser.git
[submodule "BLMapCheck/JoshaParity"]
	path = BLMapCheck/JoshaParity
	url = https://github.com/Loloppe/JoshaParity.git
