[submodule "SubModule/JoshaParity"]
	path = SubModule/JoshaParity
	url = https://github.com/Loloppe/JoshaParity.git
[submodule "SubModule/beatleader-analyzer"]
	path = SubModule/beatleader-analyzer
	url = https://github.com/BeatLeader/beatleader-analyzer.git
